
.footer .container{
    padding: 92px 15px 115px;

}
.footer{
    background-color:var(--project-black);
}
.footer__title{
    color: var(--project-white);
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 116px;
}
.footer-form__container{
    display: flex;
    flex-direction: column;
    height: 214px;
    flex-wrap: wrap;                
    justify-content: space-between;
    column-gap: 28px;
    margin-bottom: 27px;
}
.footer-form__input{
    width:455px;
    height: 50px;
    border-radius: 3px;
    padding: 13px 21px 23px;  
    
    
    
}
.footer-form__input, .footer-form__comment{
    color: var(--placeholder);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif ;
}
.footer-form__comment{
    width: 458px;
    height: 212px;
    resize: none;
    padding: 14px 22px;
}
.footer-form__btn-submit{
    width: 242px;
    height: 68px;
    background-color: var(--main-accent);
    color: var(--project-white);
    font-size: 18px;
    font-family: 'Montserrat', solid;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
