.services {
  padding: 150px;
  &__title {
    line-height: 1.88;
    color: getColor("project-black");
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 87px 0;
  }
}
.services-list {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    &::before {
      content: "";
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      width: 72px;
      height: 72px;
      margin: 0 auto;
    }
    &:nth-child(1)::before {
      background-image: url("../images/1-E-Commerce.svg");
    }
    &:nth-child(2)::before {
      background-image: url("../images/2-ResponsiveWeb.svg");
    }
    &:nth-child(3)::before {
      background-image: url("../images/3-WebSecurity.svg");
    }
  }
  &__title {
    color: getColor("project-black");
    font-size: 18px;
    font-weight: 700;
    line-height: 4.17;
    text-align: center;
  }
  &__text {
    color: getColor("main-text");
    font-size: 14px;
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin: 25px;
  }
}
